{{> ../partials/site_start}}
  <p>
    {{products_intro}} <a href="about_us_{{lang}}.html">{{learn_more}}</a>
  </p>
  <div class="flex-row">
    <div class="card">
      <h1>{{products_veggie_box}}</h1>
      <div class="flex-row">
        <div class="flex-column">
          <div class="flex-grow">
            <img src="../../img/veggie_box.png" alt="">
          </div>
          <a href="https://store.buckybox.com/biohofhausmann"
            class="link order-online"
            target="_blank">
            {{menu_order_online}}
          </a>
        </div>
        <div>
          <h2>{{products_box_delivery}}</h2>
          <div class="flex-row price-list">
            <div>
              <img src="../../img/box_brow.png" height="60" alt="XL">
              <span>26€</span>
            </div>
            <div>
              <img src="../../img/box_brow.png" height="60" alt="L">
              <span>16€</span>
            </div>
            <div>
              <img src="../../img/box_brow.png" height="60" alt="M">
              <span>12€</span>
            </div>
          </div>
          <small>
            {{products_plus_delivery_fee}}
          </small>
          <h2>{{products_country_wide_delivery}}</h2>
          <div>
            <img src="../../img/box_green.png" height="60" alt="XL">
            <span>19,90€</span>

          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <h1>{{products_potato_box}}</h1>
      <div class="flex-row">
        <div class="flex-column">
          <div class="flex-grow">
            <img src="../../img/veggie_box.png" alt="">
          </div>
          <a href="https://store.buckybox.com/biohofhausmann" target="_blank">
            {{menu_order_online}}
          </a>
        </div>
      </div>
    </div>
  </div>
{{> ../partials/site_end}}
