<div class="menu">
  <ul>
    <li>
      <a href="#about">{{menu_about}}</a>
    </li>
    <li>
      <a href="#potatoes">{{menu_potatoes}}</a>
    </li>
    <li>
      <a href="#order">{{menu_order}}</a>
    </li>
    <li>
      <a href="#history">{{menu_history}}</a>
    </li>
    <li>
      <a href="#wwoff">{{menu_wwoff}}</a>
    </li>
    <li>
      <a href="#contact">{{menu_contact}}</a>
    </li>
    <li>
      <a href="#links">{{menu_links}}</a>
    </li>
  </ul>
</div>
