<div class="menu">
  <ul>
    <li>
      <a href="about_us_{{lang}}.html">
        {{menu_about}}
      </a>
    </li>
    <li>
      <a href="potatoes_{{lang}}.html">
        {{menu_potatoes}}
      </a>
    </li>
    <li>
      <a href="history_{{lang}}.html">
        {{menu_history}}
      </a>
    </li>
    <li>
      <a href="wwoff_{{lang}}.html">
        {{menu_wwoff}}
      </a>
    </li>
    <li>
      <a href="contact_{{lang}}.html">
        {{menu_contact}}
      </a>
    </li>
    <li>
      <a href="links_{{lang}}.html">
        {{menu_links}}
      </a>
    </li>
    <li>
      <a href="https://store.buckybox.com/biohofhausmann"
        class="order-online"
        target="_blank">
        <strong>
          {{menu_order}}
        </strong>
      </a>
    </li>
  </ul>
</div>
